.header-container {
    z-index: 99999997;
    display: flex;
    height: 50px;
    padding: var(--spacing-small);
    background-color: var(--color-medium);
}



@media (min-width: 420px) and (max-width: 1420px) {

.header-counter {
    margin-left: 85%;
    padding-right: var(--spacing-small);
    font-weight: bold;
    cursor: pointer;
}


}




@media (min-width: 240px) and (max-width: 360px) {

.header-counter {
    margin-left: 5%;
    padding-right: var(--spacing-small);
    font-weight: bold;
    cursor: pointer;
}

}


.header-icon {
    cursor: pointer;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #d034db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.month {
    padding: 70px 25px;
    width: 100%;
    background: #82a3ad;
    text-align: center;
    
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 30px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:22px;
    color: #777;
}

.days li .active {
 
     
    color: white !important
}

/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
    .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
    .weekdays li, .days li {width: 12.5%;}
    .days li .active {padding: 2px;}
}

@media screen and (max-width: 290px) {
    .weekdays li, .days li {width: 12.2%;}
}
