.shopping-container {
	overflow: scroll; 
	position: fixed;
	top: 50%;
	left: 50%;
	width: 97%;
	height: 97vh;
	margin: auto;
	padding: var(--spacing-large);
	transform: translate(-50%, -50%);
	background-color: var(--color-white);
	box-shadow: var(--box-shadow);
	z-index: 99999997; 
}
.shopping-element__name {
	padding: var(--spacing-medium);
	font-weight: bold;
}
.shopping-element__price {
	padding: var(--spacing-medium);
	color: var(--color-unaccent);
}
.shopping__close {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 35px;
	height: 35px;
	background-image: url(img/close.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}






@media (min-width: 240px) and (max-width: 360px) {

.pop-icon {
   margin-left: 5%;	
    cursor: pointer;
}


}








@media (min-width: 420px) and (max-width: 1420px) {

.pop-icon {
   margin-left: 95%;	
    cursor: pointer;
}


}







.container_sho {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container_sho input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark_sho {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container_sho:hover input ~ .checkmark_sho {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container_sho input:checked ~ .checkmark_sho {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark_sho:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container_sho input:checked ~ .checkmark_sho:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container_sho .checkmark_sho:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}


/* Размещаем по правому краю */
   .tab input, .tab-content { display: none; }
   .tab {
    font: 0.8rem/1.2 Arial, sans-serif; /* Параметры шрифта */
    border: 1px solid #e9eaec; /* Параметры рамки */
    border-radius: 3px; /* Скругляем уголки */
    color: #848994; /* Цвет текста */
    margin-bottom: 10px; /* Расстояние между пунктами */
   }
   .tab-title {
    padding: 10px; /* Поля вокруг текста */
    display: block; /* Блочный элемент */
    text-transform: uppercase; /* Все буквы заглавные */
    font-weight: bold; /* Жирное начертание */
    cursor: pointer; /* Вид курсора */
   }
   .tab-title::after {
    content: '+'; /* Выводим плюс */
    float: right; /* Размещаем по правому краю */
   }
   .tab-content {
    padding: 10px 20px; /* Поля вокруг текста */
   }
   .tab :checked + .tab-title {
    background-color: #50a2de; /* Цвет фона */
    border-radius: 3px 3px 0 0; /* Скругляем уголки */
    color: #fff; /* Цвет текста */
   }
   .tab :checked + .tab-title::after {
    content: '−'; /* Выводим минус */
   }
   .tab :checked ~ .tab-content {
    display: block; /* Показываем содержимое */
   }
